body{
	
	background-color:lightblue;

}

.container1{
	
	background-image: url(wt_website3.jpg);
	height:150px;
		position: relative;
		margin-top:0px;
	
	
}


.part2{
	margin-left:32%;
	margin-right:33%;
	height:150px;
	background-color:#8A2BE2;
	font-size:15px;
	color:white;
	text-align: center;
	text-shadow: 4px 2px #00BFFF;
	 border: 1px solid;
  padding: 0px;
  box-shadow: 5px 8px #00BFFF;
	
}





.container2{
	    
	
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	height:400px;
	background-color:lightblue;
	position: relative;
	
 
} 
#id1{

  list-style-type: none;
  margin: 0;
  padding: 3px;
  width: 26%;
  background-color:#8A2BE2;
  position: fixed;
  height: 59%;
  overflow: auto;
   border-radius: 25px;
   

}
#id2{
	margin-left:27%;
	width:auto;
	height:auto;
  border-radius: 25px;
  background-color: lightblue;
  padding: 10px; 
	
}
#id3{
	
	margin-top:10px;
	color:white;
	font-size:20px;
	font-family:Times New Roman;
}

li a {
  display: block;
  color: #000;
  padding: 15px 20px;
  text-decoration: none;
  text-align:center;
  font-weight: bold;
  font-size:15px;
  color:white;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #4CAF50;
  color: white;
}
	











.container3{
	background-color: #8A2BE2;
	height:150px;
	border: 1px solid;
  padding: 0px;
  box-shadow: 5px 8px #00BFFF;
  margin-bottom:10px;
	
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

